==
<div class="section section-md pt-5 text-white" id="lastBuy">
    <div class="container">
        <h2 class="h1 font-weight-light text-center">Последние покупки</h2>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="pricing-card">
                            <div class="card bg-elegant-dark border-0">
                                <header class="card-header my-auto bg-elegant-night p-3 text-center" style="height: 180px; position: relative">
                                    <span class="lp-image-block"></span>
                                </header>
                                <div class="card-body px-2">
                                    <div class="fake-content h3 w-50 light mb-0"></div><br>
                                    <div class="fake-content h2 w-100 dark"></div>
                                    <div class="fake-content h2 w-25 dark"></div><br>
                                    <div class="fake-content h3 light"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="pricing-card">
                            <div class="card bg-elegant-dark border-0">
                                <header class="card-header my-auto bg-elegant-night p-3 text-center" style="height: 180px; position: relative">
                                    <span class="lp-image-block"></span>
                                </header>
                                <div class="card-body px-2">
                                    <div class="fake-content h3 w-50 light mb-0"></div><br>
                                    <div class="fake-content h2 w-100 dark"></div>
                                    <div class="fake-content h2 w-25 dark"></div><br>
                                    <div class="fake-content h3 light"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>