==
<div class="row pt-1">
    <div class="col-md-6">
        <div class="fake-content h2 w-25"></div>
        <div class="fake-content h2 float-right mr-0 w-50 light"></div>
        <div class="fake-content h4 mr-0 w-100"></div>
        <div class="fake-content h3 mr-0 w-50 dark"></div>
        <div class="fake-content h3 float-right mr-0 light"></div>
    </div>
    <div class="col-md-6">
        <div class="fake-content h2 w-25"></div>
        <div class="fake-content h2 float-right mr-0 w-50 light"></div>
        <div class="fake-content h4 mr-0 w-100"></div>
        <div class="fake-content h3 mr-0 w-50 dark"></div>
        <div class="fake-content h3 float-right mr-0 light"></div>
    </div>
</div>