==
<div class="row d-flex justify-content-center">
    <div class="col-12 mb-0 mt-5">
        <div class="fake-content mt-2 h2 w-50"></div>
    </div>
    <div class="col-12 mt-5">
        <div class="row mt-2 d-flex justify-content-center">
            <div class="col-12 mb-0">
                <div class="fake-content h2 w-25"></div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="profile-card">
                            <div class="card mt-3 shadow-soft border-0 bg-elegant">
                                <div class="fake-content mt-2 h2" style="position: absolute; top: 10px; right: 2px; z-index: 10"></div>
                                <div class="row align-items-center">
                                    <div class="col-sm-5 my-auto">
                                        <div class="card-image text-center p-2 bg-elegant-night position-relative" style="height: 180px"></div>
                                    </div>
                                    <div class="col-sm-7 my-auto">
                                        <div class="card-body p-4 p-sm-2">
                                            <div class="fake-content h3 w-25"></div><br>
                                            <div class="fake-content h2 w-75 mt-3"></div>
                                            <div class="fake-content h2 w-50 mt-3 dark"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-card">
                            <div class="card mt-3 shadow-soft border-0 bg-elegant">
                                <div class="fake-content mt-2 h2" style="position: absolute; top: 10px; right: 2px; z-index: 10"></div>
                                <div class="row align-items-center">
                                    <div class="col-sm-5 my-auto">
                                        <div class="card-image text-center p-2 bg-elegant-night position-relative" style="height: 180px"></div>
                                    </div>
                                    <div class="col-sm-7 my-auto">
                                        <div class="card-body p-4 p-sm-2">
                                            <div class="fake-content h3 w-25"></div><br>
                                            <div class="fake-content h2 w-75 mt-3"></div>
                                            <div class="fake-content h2 w-50 mt-3 dark"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-card">
                            <div class="card mt-3 shadow-soft border-0 bg-elegant">
                                <div class="fake-content mt-2 h2" style="position: absolute; top: 10px; right: 2px; z-index: 10"></div>
                                <div class="row align-items-center">
                                    <div class="col-sm-5 my-auto">
                                        <div class="card-image text-center p-2 bg-elegant-night position-relative" style="height: 180px"></div>
                                    </div>
                                    <div class="col-sm-7 my-auto">
                                        <div class="card-body p-4 p-sm-2">
                                            <div class="fake-content h3 w-25"></div><br>
                                            <div class="fake-content h2 w-75 mt-3"></div>
                                            <div class="fake-content h2 w-50 mt-3 dark"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-card">
                            <div class="card mt-3 shadow-soft border-0 bg-elegant">
                                <div class="fake-content mt-2 h2" style="position: absolute; top: 10px; right: 2px; z-index: 10"></div>
                                <div class="row align-items-center">
                                    <div class="col-sm-5 my-auto">
                                        <div class="card-image text-center p-2 bg-elegant-night position-relative" style="height: 180px"></div>
                                    </div>
                                    <div class="col-sm-7 my-auto">
                                        <div class="card-body p-4 p-sm-2">
                                            <div class="fake-content h3 w-25"></div><br>
                                            <div class="fake-content h2 w-75 mt-3"></div>
                                            <div class="fake-content h2 w-50 mt-3 dark"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-5">
        <div class="row mt-2 d-flex justify-content-center">
            <div class="col-12 mb-0">
                <div class="fake-content h2 w-25"></div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="profile-card">
                            <div class="card mt-3 shadow-soft border-0 bg-elegant">
                                <div class="fake-content mt-2 h2" style="position: absolute; top: 10px; right: 2px; z-index: 10"></div>
                                <div class="row align-items-center">
                                    <div class="col-sm-5 my-auto">
                                        <div class="card-image text-center p-2 bg-elegant-night position-relative" style="height: 180px"></div>
                                    </div>
                                    <div class="col-sm-7 my-auto">
                                        <div class="card-body p-4 p-sm-2">
                                            <div class="fake-content h3 w-25"></div><br>
                                            <div class="fake-content h2 w-75 mt-3"></div>
                                            <div class="fake-content h2 w-50 mt-3 dark"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-card">
                            <div class="card mt-3 shadow-soft border-0 bg-elegant">
                                <div class="fake-content mt-2 h2" style="position: absolute; top: 10px; right: 2px; z-index: 10"></div>
                                <div class="row align-items-center">
                                    <div class="col-sm-5 my-auto">
                                        <div class="card-image text-center p-2 bg-elegant-night position-relative" style="height: 180px"></div>
                                    </div>
                                    <div class="col-sm-7 my-auto">
                                        <div class="card-body p-4 p-sm-2">
                                            <div class="fake-content h3 w-25"></div><br>
                                            <div class="fake-content h2 w-75 mt-3"></div>
                                            <div class="fake-content h2 w-50 mt-3 dark"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-card">
                            <div class="card mt-3 shadow-soft border-0 bg-elegant">
                                <div class="fake-content mt-2 h2" style="position: absolute; top: 10px; right: 2px; z-index: 10"></div>
                                <div class="row align-items-center">
                                    <div class="col-sm-5 my-auto">
                                        <div class="card-image text-center p-2 bg-elegant-night position-relative" style="height: 180px"></div>
                                    </div>
                                    <div class="col-sm-7 my-auto">
                                        <div class="card-body p-4 p-sm-2">
                                            <div class="fake-content h3 w-25"></div><br>
                                            <div class="fake-content h2 w-75 mt-3"></div>
                                            <div class="fake-content h2 w-50 mt-3 dark"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-card">
                            <div class="card mt-3 shadow-soft border-0 bg-elegant">
                                <div class="fake-content mt-2 h2" style="position: absolute; top: 10px; right: 2px; z-index: 10"></div>
                                <div class="row align-items-center">
                                    <div class="col-sm-5 my-auto">
                                        <div class="card-image text-center p-2 bg-elegant-night position-relative" style="height: 180px"></div>
                                    </div>
                                    <div class="col-sm-7 my-auto">
                                        <div class="card-body p-4 p-sm-2">
                                            <div class="fake-content h3 w-25"></div><br>
                                            <div class="fake-content h2 w-75 mt-3"></div>
                                            <div class="fake-content h2 w-50 mt-3 dark"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>